.post-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
}

mat-card-content p {
    line-height: 1.5;
    color: #64748b
}

.delete-btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.post-content {
    flex-grow: 1;
}

.post-actions {
    margin-top: auto;
}

.edit-btn {
    color: #1565c0 !important;
}

.delete-btn {
    color: #d32f2f !important;
}

mat-card-title {
    color: #1e293b;
    font-weight: 401;
}

//status
.post-header {
    width: 100%;
    padding: 10px;

}

.title-row {
    width: 100%;
}

.title-row mat-card-title {
    display: flex;
    align-items: center;
    width: 100%;
}

.post-status {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
    margin-top: 4px;
    flex-shrink: 0;
    white-space: nowrap;
}

.post-title {
    flex: 1;
    min-width: 0;
    margin: 0;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.status-dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: inline-block;
}

.status-dot.active {
    background-color: #2e7d32;
}

.status-dot.draft {
    background-color: #ef6c00;
}